<h1 class="text-center">Update Person:</h1>

<div class="col-md-6 offset-md-3">
  <form (ngSubmit)="save()" #personForm="ngForm">

    <div class="form-group">
      <label><strong>First Name:</strong></label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        [(ngModel)]="person.firstName"
        name="firstName"
        #firstName="ngModel" required>
        <div *ngIf="firstName.invalid && firstName.touched">
          <small *ngIf="firstName.errors">Name cannot be null or empty</small>
        </div>
    </div>

    <div class="form-group">
      <label><strong>Last Name:</strong></label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        [(ngModel)]="person.lastName"
        name="lastName"
        #lastName="ngModel" required>
        <div *ngIf="lastName.invalid && lastName.touched">
          <small *ngIf="lastName.errors">Last name cannot be null or empty</small>
        </div>
    </div>

    <div class="form-group">
      <label><strong>Birthdate:</strong></label>
      <input
        type="date"
        class="form-control"
        id="birthdate"
        [(ngModel)]="person.birthDate"
        name="birthDate"
        #birthDate="ngModel" required>
        <div *ngIf="birthDate.invalid && birthDate.touched">
          <small *ngIf="birthDate.errors">Birth date cannot be null or empty</small>
        </div>
    </div>

    <div class="form-group">
      <label><strong>Email:</strong></label>
      <input
        type="text"
        class="form-control"
        id="email"
        [(ngModel)]="person.email"
        name="email"
        #email="ngModel" required email>
        <div *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors">Email cannot be null or empty</small><br>
            <small *ngIf="email.errors && email.errors['email']">Invalid format email</small>
        </div>
    </div>

    <div class="form-group">
      <label><strong>Phone:</strong></label>
      <input
        type="text"
        class="form-control"
        id="phone"
        [(ngModel)]="person.phone"
        name="phone"
        #phone="ngModel" required>
        <div *ngIf="phone.invalid && phone.touched">
          <small *ngIf="phone.errors">Phone cannot be null or empty</small>
        </div>
    </div>

    <div class="form-group">
      <label><strong>CPF:</strong></label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        [(ngModel)]="person.cpf"
        name="cpf"
        #cpf="ngModel" required pattern="\d{11}">
        <div *ngIf="cpf.invalid && cpf.touched">
          <small *ngIf="cpf.errors && cpf.errors['pattern']">CPF must have 11 digits</small>
        </div>
    </div>
    <br />

    <button class="btn btn-success update" type="submit" [disabled]="personForm.invalid">Update</button>
    <button class="btn btn-danger cancel" type="button" (click)="cancel()">Cancel</button>

  </form>
</div>

<footer class="footer">
  <div class="container">
    <span>&copy; All Rights Reserved 2024</span>
  </div>
</footer>

